<ActionBar title="Usuarios">
    <NavigationButton 
    text="Go Back" 
    android.systemIcon="ic_menu_back" 
    (tap) ="salir()">
</NavigationButton>      
    <ActionItem  
        android.systemIcon="ic_menu_camera"      
        ios.position="right"   
        android.position="right"     
        (tap) ="actCamara()" text="camara">  
   </ActionItem>
</ActionBar>

<GridLayoud>
    <ListView [item]="Usuarios">
        <ng-template let-item="user">
            <StackLayout>
                <label [text]="usuario.nombre"></label>
                <label [text]="usuario.telefono"></label>
                <label [text]="usuario.correo"></label>
                <label [text]="usuario.anuncio"></label>
            </StackLayout>
        </ng-template> 
    </ListView>
  
</GridLayoud>



<Button text="salir" (tap)="salir()" class="btn btn-primary"></Button>




<Button text="salir" (tap)="salir()" class="btn btn-primary"></Button>